<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action = '/admin-panel/'>
        {% csrf_token %}
        <input type = 'submit' value = 'назад'>
    </form>
    <form method = 'post'>
        {% csrf_token %}
        кого зарегать?<br/>
        Имя: <input type = 'text' name = 'first'><br/>
        Фамилия: <input type = 'text' name = 'last'><br/>
        Класс: <input type = 'text' name = 'grade'><br/>
        <input type = 'submit'>
    </form>
    <form method = 'post'>
        {% csrf_token %}
        <input type = 'text' name = 'search'><input type = 'submit' value = 'поиск' ><br/>
    </form>
    {% for user in users %}
        Логин:{{ user.username }}, Имя и фамилия: {{ user.first_name }}, Класс: {{ user.last_name }}, Счёт : {{ user.email }}<br/>
        <form method = 'post'>
            {% csrf_token %}
            Сколько начислить :<input type = 'number' name = 'pop'><br/>
            За что :<input type = 'text' name = 'reason'><br/>
            <input type = 'submit' value = 'Выполнить' name = {{ user.username }} />
        </form>
        <br/>
    {% endfor %}
</body>
</html>